# Site Configuration
NEXT_PUBLIC_SITE_URL=https://honeysurgical.com

# Database Connection (MongoDB Atlas or hosted MongoDB)
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/honey-surgical?retryWrites=true&w=majority

# Cloudinary Configuration (For Product & Category Image Uploads)
CLOUDINARY_CLOUD_NAME=dahtyb0u3
CLOUDINARY_API_KEY=879319895199243
CLOUDINARY_API_SECRET=es9NqZP-BGwF1CxDWbSv4ehiUOk
CLOUDINARY_UPLOAD_FOLDER=honey-surgicals/products

# Contact Details
NEXT_PUBLIC_WHATSAPP_NUMBER=9301232196
NEXT_PUBLIC_CONTACT_PHONE=9301232196
NEXT_PUBLIC_CONTACT_EMAIL=contact@honeysurgical.com
NEXT_PUBLIC_CONTACT_ADDRESS=HONEY SURGICALS, Medical Market, India

